*
!.gitignore
!README.md
!render.yaml
!Medicare_Portal/
!Medicare_Portal/**
!whatsapp_bot/
!whatsapp_bot/**

Medicare_Portal/db.sqlite3
Medicare_Portal/media/
Medicare_Portal/staticfiles/
Medicare_Portal/__pycache__/
Medicare_Portal/**/*.pyc
Medicare_Portal/**/.DS_Store

whatsapp_bot/.env
whatsapp_bot/__pycache__/
whatsapp_bot/*.pyc
whatsapp_bot/wa_state.json
whatsapp_bot/.DS_Store
